/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --font-color-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --text-color-title: #353430;
  --text-color-main-title: #353430;
  --header-color: #353430;
  --shadow-color: #FF0070;
  --rec-decor-visibility: hidden;
  --header-color-opacity: rgba(50, 49, 45, 0.4);
  --footer-shadow-color: #FF0070;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --font-color-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --text-color-title: #353430;
  --text-color-main-title: #353430;
  --header-color: #353430;
  --shadow-color: #FF0070;
  --rec-decor-visibility: hidden;
  --header-color-opacity: rgba(50, 49, 45, 0.4);
  --footer-shadow-color: #FF0070;
  }
}